// Base colors
$black: #0d0d0d;
$white: #f7f7f7;
$red: #fd2e2e;
$green:#adff2f;

// Hands
$seconds_hand: $red;
$minutes_hand: #282828;
$hours_hand: #282828;

// Clock face
$clock_face:  #fdfbed;

// Shadows
$shadow_gray: #e4e4e4;